registry=https://pkgs.dev.azure.com/DevOpsThomasInstruments/WebVialPlusPlus/_packaging/WebvialplusPlusArtifacttest/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/DevOpsThomasInstruments/WebVialPlusPlus/_packaging/WebvialplusPlusArtifacttest/npm/registry/:username=TokenArtifacsNode
//pkgs.dev.azure.com/DevOpsThomasInstruments/WebVialPlusPlus/_packaging/WebvialplusPlusArtifacttest/npm/registry/:_password=ZjR0ZmhzYXpucWdrZnhuanozYnppanU1cHJwcXJ0bnhpZDNkbGtyeXNjajZieWh1enNkYQ==
//pkgs.dev.azure.com/DevOpsThomasInstruments/WebVialPlusPlus/_packaging/WebvialplusPlusArtifacttest/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/DevOpsThomasInstruments/WebVialPlusPlus/_packaging/WebvialplusPlusArtifacttest/npm/:username=TokenArtifacsNode
//pkgs.dev.azure.com/DevOpsThomasInstruments/WebVialPlusPlus/_packaging/WebvialplusPlusArtifacttest/npm/:_password=ZjR0ZmhzYXpucWdrZnhuanozYnppanU1cHJwcXJ0bnhpZDNkbGtyeXNjajZieWh1enNkYQ==
//pkgs.dev.azure.com/DevOpsThomasInstruments/WebVialPlusPlus/_packaging/WebvialplusPlusArtifacttest/npm/:email=npm requires email to be set but doesn't use the value
; end auth token